<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>

<h2>DxTabs</h2>

<dx-tabs
    id="tabs"
    [dataSource]="tabs"
    [selectedIndex]="0"
    (onItemClick)="selectTab($event)">
</dx-tabs>
<div class="tab-content dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Selected content:</div>
        <div class="dx-field-value-static left-aligned">
            {{tabContent}}
        </div>
    </div>
</div>
